[Unit]
Description=Descarga automática de Gmail a Google Drive
Wants=network-online.target
After=network-online.target docker.service google-guest-agent.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gmail-downloader-run
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
